.Menu{
    display: flex;
    flex-direction: column;
    
    &__group1{
        display: flex;
        background-color:#9EAD8D ;
        flex-direction: column;
        &__text{
            flex-direction: column;
            color: #FFF;
            font-size: 56px;
            font-family: Ultra;
            font-style: normal;
            font-weight: 400;
            line-height: 64px;
            padding: 28px 48px;
            display: flex;
        
        }
        &__text12{
            display: flex;
            justify-content: space-around;
            
            &__text2{
                
            display: flex;
            color: #000;
            text-align: right;
            font-size: 16px;
            font-family: DM Sans;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            }    
        }
    }

    &__group2{
        justify-content: center;
        display: flex;
        flex-direction: column;
        
        &__top{
            display: flex;
            width: 100%;
            justify-content: space-around;
            &__head1{
                padding-top: 160px;
                width: 300px;
                flex-direction: column;
                display: flex;
                &__text4{
                    display: flex;
                    color: #171B1B;
                    font-size: 16px;
                    font-family: Oswald;
                    line-height: 32px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }
                &__text5{
                    padding-top: 18px;
                    display: flex;
                    color: #171B1B;
                    font-size: 56px;
                    font-family: Ultra;
                    line-height: 64px;
                    text-align: left;
                    }
            }
            &__tochi{
            display: flex;
            flex-shrink: 0;   
            padding-top: 80px;
            }
             
        }
        &__botom{  
            justify-content: center;  
            display: flex;
            height: 595px;
            padding-top: 70px;
            
            &__pictext{
                display: flex;
                position: relative;
                
                &__pic{
                    position: absolute;
                    display: flex;
                    width: 770px;
                    height: 448px;
                    flex-shrink: 0;
                }
                &__text{
                    flex-direction: column;
                    display: flex;
                    position: absolute;
                    text-align:left;
                    padding-left: 48px;
                    padding-top: 185px;
                    &__text1{
                        display: flex;
                        color: #FFF;
                        font-size: 16px;
                        font-family: Oswald;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        letter-spacing: 3px;
                        text-transform: uppercase;

                    }
                    &__text2{
                        display: flex;
                        color: #FFF;
                        font-size: 40px;
                        font-family: Ultra;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                    }
                    &__text3{
                        display: flex;
                        color: rgba(255, 255, 255, 0.50);
                        font-size: 16px;
                        font-family: DM Sans;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        

                    }
                }
            }

        
            &__right{
                flex-direction: column;
                display: flex;
                width: 440px;
                padding-left: 920px;
                &__text1{
                    display: flex;
                    color: #171B1B;
                    font-size: 16px;
                    font-family: Oswald;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }
                &__rb{
                    flex-direction: column;
                    display: flex;
                    padding-top: 54px;
                    &__cofecost{
                        display: flex;
                        flex:1;
                        justify-content:space-between;
                        padding-top: 31px;
                        &__cofe{
                            display: flex;
                            color: #171B1B;
                            font-size: 24px;
                            font-family: Oswald;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px;
                        }
                        &__cost{
                            display: flex;
                            color: #171B1B;
                            text-align: right;
                            font-size: 40px;
                            font-family: Ultra;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 48px;
                        }
                    }
                }

        }
    }
}
    &__group3{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__head2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 63px;
        padding-bottom: 53px;
        &__text31{
            display: flex;
            color: #171B1B;
            text-align: center;
            font-size: 16px;
            font-family: Oswald;
            line-height: 32px;
            letter-spacing: 3px;
            text-transform: uppercase;
            }
        &__text32{
            padding-top: 18px;
            display: flex;
            color: #171B1B;
            text-align: center;
            font-size: 56px;
            font-family: Ultra;
            line-height: 64px;

        }
    }
    &__groupof3{
        
        justify-content: center;
        display: flex;
        justify-content: space-evenly;
        
        &__desert{
            
            
            width: 400px;
            height: 507px;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-direction: column;
            display: flex;

            &__pic{
                
                display: flex;
                
                flex-shrink: 0;
                padding-top: 46px;
                }
            &__text{
            &__name{
                padding-top: 23px;
                color: #171B1B;
                font-size: 24px;
                font-family: Oswald;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                text-align: left;
                display: flex;
            }
            &__costgram{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                width: 370px;
                &__cost{
                    display: flex;
                    color: #171B1B;
                    text-align: right;
                    font-size: 40px;
                    font-family: Ultra;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 48px;
                }
                &__gram{
                    display: flex;
                    color: #171B1B;
                    font-size: 16px;
                    font-family: Oswald;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }
            }
            &__text{
                display: flex;
                color: #171B1B;
                font-size: 16px;
                font-family: Oswald;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 3px;
                text-transform: uppercase;
                text-align: left;
                padding-top:25px ;
            }
        }
               
        }
        
}  
    }
    &__group4{
        margin-top: 15rem; 
        padding: 0rem; 
        background-color: #1B1B1D;
        position: relative;
        display: flex;
        justify-content: center;
        &__fon{
            
            display: flex;    
            height: 1233px;
            flex-shrink: 0;
        }
        &__head{
            padding-top: 115px;
            padding-right: 150px;
            
            flex-direction: column;
            display: flex;
            position: absolute;
            &__text4{
                display: flex;
                color: #fff;
                font-size: 16px;
                font-family: Oswald;
                line-height: 32px;
                letter-spacing: 3px;
                text-transform: uppercase;
            }
            &__text5{
                padding-top: 18px;
                display: flex;
                color: #fff;
                font-size: 56px;
                font-family: Ultra;
                line-height: 64px;
                text-align: left;
                }    
        }
        &__content{
            
            position: absolute;
            display: flex;
            padding-top: 360px;

            &__right{
                
                flex-direction: column;
                display: flex;
                width: 570px;
                background-color: #FFF;
                &__pic{
                    display: flex;
                    flex-shrink: 0;
                
                }
                &__alltext{
                    display: flex;
                    flex-direction: column;
                    margin-left: 48px;
                    margin-top: 48px;
                    margin-right: 32px;
                    margin-bottom: 33px;
                &__text1{
                    
                    display: flex;
                    color: #171B1B;
                    font-size: 16px;
                    font-family: Oswald;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: 3px;
                    text-align: left;
                    text-transform: uppercase;

                }
                &__text2{

                    display: flex;
                    color: #171B1B;
                    font-size: 40px;
                    font-family: Ultra;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 48px;
                    
                }
                &__text3{
                    display: flex;
                    color: rgba(51, 51, 51, 0.50);
                    font-size: 16px;
                    font-family: DM Sans;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    text-align: left;
                }
                &__cost{
                    display: flex;
                    color: #171B1B;
                    text-align: right;
                    font-size: 12px;
                    font-family: Ultra;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 48px;
                    justify-content: flex-end;

                }
            }
            }
            &__left{
                width: 270px;
                flex-direction: column;
                display: flex;
                position: static;
                padding-left: 1rem ;
                
                justify-content: space-between;
                &__desert{
                    height: 352px;
                    background-color: #FFF;
                &__pic{
                    display: flex;
                    flex-shrink: 0;
                }
                &__alltext{
                    display: flex;
                    flex-direction: column;
                    margin: 17px;
                    &__text{
                        text-align: left;
                        display: flex;
                        color: #171B1B;
                        font-size: 18px;
                        font-family: DM Sans;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 25px;
                    }
                    &__cost{
                        display: flex;
                        
                        color: #171B1B;
                        text-align: right;
                        font-size: 12px;
                        font-family: Ultra;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        justify-content: flex-end;
    
                    }
                }
                }
            }
        }

    }
    &__group5{
        justify-content: center;
        display: flex;
        flex-direction: column;
        
        &__top{
            display: flex;
            width: 100%;
            justify-content: space-around;
            &__head1{
                padding-top: 160px;
                width: 520px;
                flex-direction: column;
                display: flex;
                &__text4{
                    display: flex;
                    color: #171B1B;
                    font-size: 16px;
                    font-family: Oswald;
                    line-height: 32px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }
                &__text5{
                    padding-top: 18px;
                    display: flex;
                    color: #171B1B;
                    font-size: 56px;
                    font-family: Ultra;
                    line-height: 64px;
                    text-align: left;
                    }
            }
            &__tochi{
            display: flex;
            flex-shrink: 0;   
            padding-top: 180px;
            }
             
        }
        &__allbotom{
            display: flex;
            justify-content: space-evenly;
            
        &__botom{  
            flex-direction: column;
            display: flex;
            height: 595px;
            padding-top: 60px;

            height: 900px;
            justify-content: space-between;
            

            &__pictext{
                display: flex;
                justify-content: center;  
                position: relative;
                width: 770px;
                    height: 448px;
                
                &__pic{
                    position: absolute;
                    display: flex;
                    width: 770px;
                    height: 448px;
                    flex-shrink: 0;
                }
                &__text{
                    flex-direction: column;
                    display: flex;
                    position: absolute;
                    text-align:left;
                    padding-left: 48px;
                    padding-top: 185px;
                    &__text1{
                        display: flex;
                        color: #FFF;
                        font-size: 16px;
                        font-family: Oswald;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        letter-spacing: 3px;
                        text-transform: uppercase;

                    }
                    &__text2{
                        display: flex;
                        color: #FFF;
                        font-size: 40px;
                        font-family: Ultra;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                    }
                    &__costas{
                        display: flex;
                        flex-direction: column;
                        
                        &__text{
                            display: flex;
                            color: rgba(255, 255, 255, 0.70);
                            font-size: 16px;
                            font-family: DM Sans;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px;
                            width: 322px;
                            
                        }
                        &__cost{
                            display: flex;
                            color: #FFF;
                            text-align: right;
                            font-size: 40px;
                            font-family: Ultra;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 48px;
                            justify-content: flex-end;
                            width: 650px;
        
                        }
                    }
                
                }
            }
            &__product{
                padding-top: 32px;
                justify-content: space-between;
                display: flex;
                &__desert{
                    height: 448px;
                    background-color: #FFF;
                &__pic{
                    display: flex;
                    flex-shrink: 0;
                }
                &__alltext{
                    display: flex;
                    flex-direction: row;
                    margin: 17px;
                    align-items: flex-end;
                    justify-content: space-between;
                    &__text{
                        flex-direction: column;
                        display: flex;
                        &__text1{
                            text-align: left;
                            display: flex;
                            color: #171B1B;
                            font-size: 16px;
                            font-family: Oswald;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px;
                            letter-spacing: 3px;
                            text-transform: uppercase;
                    }
                        &__text2{
                            text-align: left;
                            display: flex;
                            color: #171B1B;
                            font-size: 24px;
                            font-family: Oswald;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px;
                            width: 214px;
                        }
                }
                    &__cost{
                        display: flex;
                        
                        color: #171B1B;
                        text-align: right;
                        font-size: 40px;
                        font-family: Ultra;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        justify-content: flex-end;
    
                    }
                }
                }
            }
            &__productgorizont{

                flex-direction: column;
                display: flex;
                &__desert{
                    flex-direction: column;
                    display: flex;
                    height: 448px;
                    background-color: #FFF;
                &__pic{
                    display: flex;
                    flex-shrink: 0;
                }
                &__alltext{
                    display: flex;
                    flex-direction: row;
                    margin: 17px;
                    align-items: flex-end;
                    justify-content: space-between;
                    &__text{
                        flex-direction: column;
                        display: flex;
                        &__text1{
                            text-align: left;
                            display: flex;
                            color: #171B1B;
                            font-size: 16px;
                            font-family: Oswald;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px;
                            letter-spacing: 3px;
                            text-transform: uppercase;
                    }
                        &__text2{
                            text-align: left;
                            display: flex;
                            color: #171B1B;
                            font-size: 24px;
                            font-family: Oswald;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px;
                            width: 214px;

                        }
                }
                    &__cost{
                        display: flex;
                        
                        color: #171B1B;
                        text-align: right;
                        font-size: 40px;
                        font-family: Ultra;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        justify-content: flex-end;
    
                    }
                }
                }
            }
    }
    }
}
}

@media (max-width: 992px) {
    
    .Menu {
        display: flex;
        flex-direction: column;
        
        &__group1{
            display: flex;
            background-color:#9EAD8D ;
            flex-direction: column;
            &__text{
                flex-direction: column;
                color: #FFF;
                font-size: 56px;
                font-family: Ultra;
                font-style: normal;
                font-weight: 400;
                line-height: 64px;
                padding: 28px 48px;
                display: flex;
            
            }
            &__text12{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                
                &__text2{
                    
                display: flex;
                color: #000;
                text-align: right;
                font-size: 16px;
                font-family: DM Sans;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                }    
            }
        }
        &__group2{
            justify-content: center;
            display: flex;
            flex-direction: column;
            
            &__top{
                display: flex;
                width: 100%;
                justify-content: space-around;
                &__head1{
                    padding-top: 10px;
                    width: 328px;
                    flex-direction: column;
                    display: flex;
                    &__text4{
                        display: flex;
                        color: #171B1B;
                        font-size: 10px;
                        font-family: Oswald;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                    }
                    &__text5{
                        padding-top: 5px;
                        color: #171B1B;
                        font-size: 30px;
                        font-family: Ultra;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 64px;
                        text-align: left;
                        }
                }
                &__tochi{
                display: flex;
                flex-shrink: 0;   
                padding-top: 80px;
                display: none;
                }
                 
            }
            &__botom{  
                justify-content: flex-start;  
                display: flex;
                height: 210px;
                padding-top: 15px;
                
                
                &__pictext{
                    display: flex;
                    position: relative;
                    padding-left: 10px;
                    &__pic{
                        position: absolute;
                        display: flex;
                        width: 348px;
                        height: 202.473px;
                        flex-shrink: 0;
                    }
                    &__text{
                        flex-direction: column;
                        display: flex;
                        position: absolute;
                        text-align:left;
                        padding-left: 12px;
                        padding-top: 15px;
                        &__text1{
                            display: flex;
                            color: #FFF;
                            font-size: 8px;
                            font-family: Oswald;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px;
                            letter-spacing: 3px;
                            text-transform: uppercase;
                            display: none;
    
                        }
                        &__text2{
                            display: flex;
                            color: #FFF;
                            font-size: 24px;
                            font-family: Ultra;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 48px;
                            width: 350px;
                        }
                        &__text3{
                            display: flex;
                            color: rgba(255, 255, 255, 0.5);
                            font-size: 16px;
                            font-family: DM Sans;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px;
                            display: none;
                            
    
                        }
                    }
                }
    
            
                &__right{
                    position: absolute;
                    flex-direction: column;
                    display: flex;
                    width: 335px;
                    padding-left: 15px;
                    &__text1{
                        display: flex;
                        color: #FFF;
                        font-size: 8px;
                        font-family: Oswald;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                        
                    }
                    &__rb{
                        flex-direction: column;
                        display: flex;
                        padding-top: 20px;
                        &__cofecost{
                            display: flex;
                            flex:1;
                            justify-content:space-between;
                            padding-top: 0px;
                            &__cofe{
                                display: flex;
                                color: #FFF;
                                font-size: 16px;
                                font-family: Oswald;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 32px;
                            }
                            &__cost{
                                display: flex;
                                color: #FFF;
                                text-align: right;
                                font-size: 15px;
                                font-family: Ultra;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 48px;
                            }
                        }
                    }
    
            }
        }
    }
    &__group3{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__head2{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1px;
            padding-bottom: 10px;
            &__text31{
                display: flex;
                color: #171B1B;
                text-align: center;
                font-size: 16px;
                font-family: Oswald;
                line-height: 32px;
                letter-spacing: 3px;
                text-transform: uppercase;
                display: none;
                }
            &__text32{
                padding-top: 18px;
                display: flex;
                color: #1B1B1D;
                text-align: center;
                font-size: 30px;
                font-family: Ultra;
                font-style: normal;
                font-weight: 400;
                line-height: 64px;
    
            }
        }
        &__groupof3{
            flex-direction: column;
            justify-content: center;
            display: flex;
            justify-content: space-evenly;
            
            &__desert{
                flex-direction: row;
                
                width: 390px;
                height: 220px;
                justify-content: space-evenly;
                align-items: flex-start;
                
                display: flex;
    
                &__pic{
                    
                    display: flex;
                    width: 179px;
                    height: 147.07px;
                    flex-shrink: 0;
                    padding-top: 10px;
                    }
                &__text{
                   
                &__name{
                    padding-top: 1px;
                    color: #171B1B;
                    font-size: 18px;
                    font-family: Oswald;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    text-align: left;
                    display: flex;
                }
                &__costgram{
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    width: 180px;
                    height: 40px;
                    &__cost{
                        display: flex;
                        color: #171B1B;
                        text-align: right;
                        font-size: 20px;
                        font-family: Ultra;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                    }
                    &__gram{
                       
                        display: flex;
                        color: #171B1B;
                        font-size: 10px;
                        font-family: Oswald;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 14px;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                    }
                }
                &__text{
                    width: 152px;
                    display: flex;
                    color: #171B1B;
                    font-size: 10px;
                    font-family: Oswald;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 14px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    text-align: left;
                    padding-top:25px ;
                }
            }
            }
            
    }  
        }
    &__group4{
        margin-top: 15rem; 
        padding: 0rem; 
        background-color: #1B1B1D;
        position: relative;
        display: flex;
        justify-content: center;
        &__fon{
            
            display: flex;    
            height: 1100px;
            width: 390px;
            flex-shrink: 0;
        }
        &__head{
            padding-top: 18px;
            padding-right: 150px;
            
            flex-direction: column;
            display: flex;
            position: absolute;
            &__text4{
                display: flex;
                color: #fff;
                font-size: 16px;
                font-family: Oswald;
                line-height: 32px;
                letter-spacing: 3px;
                text-transform: uppercase;
                display: none;
            }
            &__text5{
                padding-top: 5px;
                width: 374px;
                display: flex;
                color: #FFF;
                font-size: 24px;
                font-family: Ultra;
                font-style: normal;
                font-weight: 400;
                line-height: 64px;
                text-align: left;
                }    
        }
        &__content{
            flex-wrap: wrap;
            
            position: absolute;
            display: flex;
            padding-top: 100px;
            justify-content: center;

            &__right{
                
                flex-direction: column;
                display: flex;
                width: 311px;
                height: 406px;
                background-color: #FFF;
                &__pic{
                    
                    display: flex;
                    flex-shrink: 0;
                    width: 311px;
                    height: 270.625px;
                    flex-direction: column;
                
                }
                &__alltext{
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    margin-top: 5px;
                    margin-right: 10px;
                    margin-bottom: 5px;
                &__text1{
                    
                    display: flex;
                    color: #171B1B;
                    font-size: 10px;
                    font-family: Oswald;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    text-align: left;
                    

                }
                &__text2{
                    display: flex;
                    color: #171B1B;
                    font-size: 18px;
                    font-family: Ultra;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 35px;
                    
                }
                &__text3{
                    display: flex;
                    color: rgba(51, 51, 51, 0.50);
                    font-size: 12px;
                    font-family: DM Sans;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 14px;
                    text-align: left;
                }
                &__cost{
                    display: flex;
                    color: #171B1B;
                    text-align: right;
                    font-size: 12px;
                    font-family: Ultra;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 48px;
                    justify-content: flex-end;

                }
            }
            }
            &__left{
                flex-direction: row;
                width: 350px;
                display: flex;
                position: static;
                padding-left: 0rem ;
                padding-top: 10px;
                justify-content: space-between;
                &__desert{
                    
                    width: 162px;
                    height: 256px;
                    background-color: #FFF;
                &__pic{
                    display: flex;
                    width: 162px;
                    height: 129px;
                    flex-shrink: 0;
                }
                &__alltext{
                    display: flex;
                    flex-direction: column;
                    margin: 17px;
                    &__text{
                        text-align: left;
                        display: flex;
                        color: #171B1B;
                        font-size: 12px;
                        font-family: DM Sans;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 14px;
                    }
                    &__cost{
                        display: flex;
                        
                        color: #171B1B;
                        text-align: right;
                        font-size: 12px;
                        font-family: Ultra;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        justify-content: flex-end;
    
                    }
                }
                }
            }
        }

    }
    &__group5{
        justify-content: center;
        display: flex;
        flex-direction: column;
        
        &__top{
            display: flex;
            width: 100%;
            justify-content: space-around;
            &__head1{
                align-items: center;
                padding-top: 50px;
                width: 520px;
                flex-direction: column;
                display: flex;
                &__text4{
                    display: flex;
                    color: #171B1B;
                    font-size: 16px;
                    font-family: Oswald;
                    line-height: 32px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }
                &__text5{
                    padding-top: 18px;
                    width: 269.502px;
                    color: #171B1B;
                    font-size: 20px;
                    font-family: Ultra;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    display: flex;
                    
                    }
            }
            &__tochi{
            display: flex;
            flex-shrink: 0;   
            padding-top: 180px;
            display: none;
            }
             
        }
        &__allbotom{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            
        &__botom{  
            flex-direction: column;
            display: flex;
            height: 595px;
            padding-top: 30px;

            height: 900px;
            justify-content: space-between;
            

            &__pictext{
                display: flex;
                justify-content: center;  
                position: relative;
                width: 353px;
                height: 205.382px;
                
                &__pic{
                    position: absolute;
                    display: flex;
                    width: 353px;
                    height: 205.382px;
                    flex-shrink: 0;
                    padding-left: 21px;
                }
                &__text{
                    flex-direction: column;
                    display: flex;
                    position: absolute;
                    text-align:left;
                    padding-left: 10px;
                    padding-top: 5px;
                    &__text1{
                        display: flex;
                        color: #FFF;
                        font-size: 12px;
                        font-family: Oswald;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 3px;
                        text-transform: uppercase;

                    }
                    &__text2{
                        padding-top: 60px;
                        display: flex;
                        color: #FFF;
                        font-size: 20px;
                        font-family: Ultra;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                    }
                    &__costas{
                        display: flex;
                        flex-direction: column;
                        
                        &__text{
                            display: flex;
                            color: rgba(255, 255, 255, 0.50);
                            font-size: 12px;
                            font-family: DM Sans;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 14px;
                            width: 167px;
                            
                        }
                        &__cost{
                            display: flex;
                            color: #FFF;
                            text-align: right;
                            font-size: 20px;
                            font-family: Ultra;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 48px;
                            justify-content: flex-end;
                            width: 275px;
        
                        }
                    }
                
                }
            }
            &__product{
                padding-top: 32px;
                justify-content: space-between;
                display: flex;
                &__desert{
                    height: 448px;
                    background-color: #FFF;
                &__pic{
                    display: flex;
                    flex-shrink: 0;
                    width: 161px;
                    height: 127.464px;
                }
                &__alltext{
                    display: flex;
                    flex-direction: row;
                    margin: 17px;
                    align-items: flex-end;
                    justify-content: space-between;
                    &__text{
                        flex-direction: column;
                        display: flex;
                        &__text1{
                            text-align: left;
                            display: flex;
                            color: #171B1B;
                            font-size: 10px;
                            font-family: Oswald;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px;
                            letter-spacing: 3px;
                            text-transform: uppercase;
                    }
                        &__text2{
                            text-align: left;
                            display: flex;
                            color: #171B1B;
                            font-size: 16px;
                            font-family: Oswald;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                            width: 135px;
                        }
                }
                    &__cost{
                        display: flex;
                        
                        color: #171B1B;
                        text-align: right;
                        font-size: 20px;
                        font-family: Ultra;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        justify-content: flex-end;
    
                    }
                }
                }
            }
            &__productgorizont{
                flex-direction: row;
                display: flex;
                &__desert{
                    flex-direction: column;
                    display: flex;
                    height: 448px;
                    background-color: #FFF;
                &__pic{
                    display: flex;
                    flex-shrink: 0;
                    width: 161px;
                    height: 127.464px;
                }
                &__alltext{
                    display: flex;
                    flex-direction: row;
                    margin: 17px;
                    align-items: flex-end;
                    justify-content: space-between;
                    &__text{
                        flex-direction: column;
                        display: flex;
                        &__text1{
                            text-align: left;
                            display: flex;
                            color: #171B1B;
                            font-size: 10px;
                            font-family: Oswald;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px;
                            letter-spacing: 3px;
                            text-transform: uppercase;
                    }
                        &__text2{
                            text-align: left;
                            display: flex;
                            color: #171B1B;
                            font-size: 14px;
                            font-family: Oswald;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                            width: 135px;

                        }
                }
                    &__cost{
                        display: flex;
                        
                        color: #171B1B;
                        text-align: right;
                        font-size: 20px;
                        font-family: Ultra;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        justify-content: flex-end;
    
                    }
                }
                }
            }
    }
    }
}
    }
}